@import 'base/variables';


* {
    margin: 0 auto;
    font-family: $main_font;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/advantages';
@import 'blocks/title';