.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url(../img/Main_bg.jpg) center (center / cover) no-repeat;

    @media screen and (max-width: $laptop) {
        min-height: 100%;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 91px;

        @media screen and (max-width: $laptop) {
            margin-top: 20%;
        }
    }

    &__header {
        font-weight: $text_b;
        font-size: 42px;
        text-transform: uppercase;
        color: $main_text_color;
        line-height: 42px;

        @media screen and (max-width: $laptop) {
            font-size: 55px;
            text-align: center;
            line-height: normal;
        }

    }

    &__subheader {
        margin-top: 17px;
        font-weight: $text_m;
        font-size: 24px;
        text-transform: uppercase;
        color: $main_text_color;
        line-height: 24px;

        @media screen and (max-width: $laptop) {
            margin-top: 15%;
            font-size: 26px;
            text-align: center;
        }
    }

    &__icons {
        margin-top: 60px;
        width: 425px;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: $laptop) {
            justify-content: space-around;
        }
    }

    &__icon {
        width: 108px;
        align-items: center;
        font-weight: $text_m;
        font-size: 14px;
        text-align: center;
        color: $main_text_color;

        @media screen and (max-width: $mobile) {
            width: 30%;
            font-size: 16px;
        }

        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }

    &__link {
        margin-top: 18px;
        font-weight: $text_m;
        font-size: 16px;
        color: $main_text_color;

        @media screen and (max-width: $laptop) {
            margin-top: 20px;
        }

        a {
            text-decoration: underline;
            color: $main_text_color;
            text-transform: uppercase;
        }
    }

    button {
        @media screen and (max-width: $laptop) {
            margin-top: 18%;
        }
    }
}